{% extends "CornershortMLMappBundle:Layout:fos_user_layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p style="margin: 20px 0;">{{ 'resetting.password_already_requested'|trans }}</p>
<div class="form-actions">
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-success uppercase">Back to Login Page</a>
</div>
{% endblock fos_user_content %}
